table.asistencias {
    width: 100%;
}

table.asistencias thead th {
    text-align: center;
    background-color: #2B78E4;
    color: #ffffff;
    border: 1px solid #F5F5F5;
}

table.asistencias tbody td {
    background-color: #F5F5F5;
    border: 1px solid #2B78E4;
}

table.asistencias td {
    padding: 5px;
}