div.banner {
    border: 1px;
    border-style: solid;
    border-color: #EE3550;
}

div.data-nav {
    background-color: #183E65;
    color: white;
    padding: 5px 0px 5px 0px;
}

div.footer-content {
    background-color: #EE3550;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

ol.breadcrumb {
    border-top: #EE3550 solid 2px;
    border-bottom: black solid 2px;
}
div.formField {
    margin-bottom: 6px;
}

div.formField label {
    display: block;
    margin: 0;
}

.nav-tabs > li > a {
    color: white;
} 

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: black;
} 