table.notas {
    width: 100%;
}

table.notas thead th {
    text-align: center;
    background-color: #2B78E4;
    color: #ffffff;
    border: 1px solid #F5F5F5;
}

table.notas tbody td {
    background-color: #F5F5F5;
    border: 1px solid #2B78E4;
}

table.notas td {
    padding: 5px;
}